<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Categories</h1>
  <!--  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
      class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Add category</h6>
    <a routerLink="../" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> Liste</a>

  </div>
  <div class="card-body">
    <div [formGroup]="formgroup">
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input formControlName="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Name">
      </div>
      <button (click)="add()" class="btn btn-primary">Ajouter</button>
    </div>

  </div>
</div>
